body {
  background-color: grey
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header .homeLogo  {
  width: 10%;
  height: 20%;
}


.header {
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerRight{
  display: flex;
  align-items: center;
}

.login {
  margin-left: 10px
}

h1{
  margin-top: 500px;
  color: black;
}